@page "/payment-create"
@inject NavigationManager NavigationManager
@inject IClientService ClientService
@inject ITransactionService TransactionService
@inject IApplicationService ApplicationService

<PageTitle>Payment Create</PageTitle>

<h3>Payment Create</h3>

<div class="mb-3">
    <label for="clientId" class="form-label">Client ID</label>
    <InputText id="clientId" class="form-control" @bind-Value="ClientId" />
</div>

<div class="mb-3">
    <label for="clientSecret" class="form-label">Client Secret</label>
    <InputText id="clientSecret" class="form-control" @bind-Value="ClientSecret" />
</div>

<div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <NumberInput id="amount" TValue="decimal" class="form-control" @bind-Value="Amount" />
</div>

<button class="btn btn-primary" @onclick="SubmitAsync">Submit</button>

@code {
    private string ClientId { get; set; } = string.Empty;
    private string ClientSecret { get; set; } = string.Empty;
    private decimal Amount { get; set; }

    private async Task SubmitAsync()
    {
        var client = await ClientService.GetClientBySecretKeyAsync(Guid.Parse(ClientId), ClientSecret);
        if (client == null)
        {
            NavigationManager.NavigateTo("/not-found");
            return;
        }

        var application = await ApplicationService.GetApplicationWithActiveGatewaysAsync(client.ApplicationId);
        if (application == null || application.Gateways == null)
        {
            NavigationManager.NavigateTo("/not-found");
            return;
        }

        var transaction = await TransactionService.CreateTransactionAsync(
            application.Id,
            application.Gateways.First().Id,
            Amount
        );

        NavigationManager.NavigateTo($"/payment-process?TransactionIdParam={transaction.Id}");
        return;
    }
}
